{% extends "base.html.twig" %}

{% block img %}/img/accueil-img.jpeg{% endblock %}
{% block titre %}Bienvenu/e dans mon jardin de rêve{% endblock %}
{% block contenu %}
    <p class="my-5">Et oui, les rumeurs vont vite, j'adoooore le jardin... La terre est pleine d'amour. Si on la caresse un peu, elle nous gâte. </p>
{% endblock %}